[#:lebenswelt.pages.frontpage
 {:recent-posts [:fn/plural
               "No plog posts yet..."
               "Here's the only post I got so far..."
               "Recent posts"]
  :blog-posts [:fn/str "All posts ({{:n}})"]}
 
 #:lebenswelt.pages.blog-listing
 {:page-title "Blog posts"}]
