{:tasks
 {tailwind
  (shell
   "npx tailwindcss -i ./src/main.css -o ./resources/public/styles.css --watch")
  clean
  (shell "rm -r ./target/powerpack/*")
  push
  (shell "rsync -arzt target/powerpack lebenswelt.space:/var/www/lebenswelt-space
")}}
