html {
  font-size: 20px;
  font-family: Helvetica, arial, sans-serif;
}

body {
  background: #18181b;
  color: #f0f0f0;
  max-width: 800px;
  margin: 20px auto;
  line-height: 1.5;
}

a:link, a:visited {
  color: #2563eb;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}
