@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);


@layer base {
  html {
      font-size: 18px;
  }

    #tagcloud {
        list-style: none ;
        text-align: center ;
        padding: 0 ;
    }
    
    #tagcloud li {
        display: inline-block ;
    }
    
    #tagcloud a {
        margin: .1em .25em ;
    }
    
    #nobullets li {
        list-style-type: none;
    }    
}

