@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@layer base {
  html {
      font-size: 18px;
  }

    #nodeco a {text-decoration: none;}

    .tagcloud {
        list-style: none ;
        text-align: center ;
        padding: 0 ;
	border: 2px ;
	border-style: dashed ;
	border-radius: 5px ;
    }
    
    #tagcloud li {
        display: inline-block ;
    }
    
    #tagcloud a {
        margin: .1em .25em ;
    }
    
    #nobullets li {
        list-style-type: none;
    }    
}

