@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
      font-size: 16px ;
  }

    a {
	text-decoration: none ;
    }
    
    .nodeco a {
	text-decoration: none;
    }

    .info {
        list-style: none ;
        text-align: left ;
        padding: 0 ;
	border: 2px ;
    }

    .info li {
        display: inline-block ;
    }
    
    .tagcloud {
        list-style: none ;
        text-align: center ;
        padding: 0 ;
	border: 2px ;
	border-style: dashed ;
	border-color: #b91c1c ;
	border-radius: 5px ;
    }
    
    .tagcloud li {
        display: inline-block ;
    }
    
    .tagcloud a {
        margin: .1em .25em ;
	text-decoration: none ;
    }
    
    .nobullets li {
        list-style-type: none;
    }
    
    #tag_clojure:before { content: "🟢" ;}
    #tag_data-processing:before { content: "💾" ;}
    #tag_web-development:before { content: "🕸️️" ;}
    #tag_personal:before { content: "🤷🏻" ;}
    #tag_programming:before { content: "💻" ;}
    #tag_linux:before { content: "🐧" ;}
    #tag_python:before { content: "🐍" ;}
    #tag_statistics:before { content: "📊" ;}
    #tag_probability:before { content: "🎲" ;}
    #tag_R:before { content: "⚖️" ;}
    #tag_emacs:before { content: "📑" ;}
    
}

